 {% if flights %}
<H2>
   You're looking at our flights from {{ departure }}:
   </H2>
   <form action="{% url 'flylo:shoppingcart'%}" method="post">
   {% csrf_token %}
    {% for flight in flights %}    	
     <label>
       <input type= checkbox name="checkbox{{ flight.id }}" id="checkbox{{ flight.id }}" value="{{ flight.id }}"/> 
       <a href="{% url 'flights' departure %}{{flight.flight_number}}">{{ flight.flight_number}} </a> to {{flight.location_arrival}} 
       Seats: <input type=text name="seats{{ flight.id }}" id="seats{{ flight.id }}" value=""/>
       Return: <input type= checkbox name="ret{{ flight.id }}" id="ret{{ flight.id }}" value="{{ flight.id }}"/> 
     </label>
         <BR>
    {% endfor %}
   <input type="submit" value="Go to Shopping cart" />
	</form>
{% else %}
    <p>No Flights are available.</p>
{% endif %}